img {
  max-height: 100%;
  max-width: 100%;
}

.prototype img {
  max-width: 45%;
  max-height: 45%;
}

@media (min-width: 600px) {
  img {
    max-height: 50%;
    max-width: 50%;
  }

  .prototype img {
    max-height: 30%;
    max-width: 30%;
  }

  .knap1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .knap {
    grid-column: 3/4;
  }
}
.knap {
  background-color: #eeaa6e;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.knap a {
  color: rgb(36, 117, 36);
}

.knap a:hover {
  color: #9cb0d9;
}
